[Unit]
Description=Face-Door recoginition and burglar alarm
After=syslog.target

[Service]
Type=forking
# The PID file is optional, but recommended in the manpage
# "so that systemd can identify the main process of the daemon"
PIDFile=/var/run/face.pid
WorkingDirectory=/home/pi/git/face-door/server
ExecStart=/usr/bin/python3 face.py -start > /var/log/face.log 2>&1
Restart=on-abort

[Install]
WantedBy=multi-user.target