[Unit]
Description=Face-Door recoginition and burglar alarm
After=syslog.target

[Service]
Type=forking
# The PID file is optional, but recommended in the manpage
# "so that systemd can identify the main process of the daemon"
PIDFile=/var/run/face.pid
User=pi
WorkingDirectory=/home/pi/git/face-door/server
ExecStart=/home/pi/git/face-door/server/startface.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target